* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;  
}

.left {
    width: 50vw;
    display: flex;
    border-radius: 2px;
    flex-direction: column;
    justify-content: center;
    border: solid 7px #e0a0f2;
    background-color: rgba(205, 119, 193, 0.7);
    box-shadow: 15px 0 20px rgba(205, 119, 193, 0.7);
}
