* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;
}
.left {
    width: 50vw;
    background-image: url('../assets/login.jpg');
}