* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(253, 246, 236);
}

main {
    width: 50vw;
    background-color: rgb(67, 49, 24);
}